.logo {
    height: 32px;
    width: auto;
    margin-right: 24px;
}

.navbar {
    margin: 24px 0;
}

.navbar-nav .nav-link {
    margin-right: 1.5rem;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #CC0000;
}

.nav-item > a:hover {
    color:#CC0000;
    text-decoration: none;
}

@media only screen and (max-width : 768px) {
    .navbar-collapse {
        background-color: #F5F5F5;
        padding: 16px;
        border-radius: 8px;
        margin-top: 8px;
  }
}